[Unit]
Description=Gesture sensors service
After=sm.puri.Phosh.service
StartLimitBurst=5000
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/libexec/gesture-sensors
RestartSec=1
TimeoutStartSec=5
Restart=always
